/*Google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styles */

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: #3a3a3a;
    /* Generic Body Styles*/
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: "Lobster", sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #624637
}

h2,
h3 {
    margin-top: 20px;
    font-size: 40px;
    font-family: "Lobster", sans-serif;
    letter-spacing: 2px;
    color: #624637;
}

header {
    background-color: #FAF3EB;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #624637;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #624637;
}

header a:hover {
    color: #DB9163;
}

#logo {
    color: #624637;

}

#logo:hover {
    color: #DB9163;
    text-decoration: none;
}


#menu {
    font-size: 120%;
    letter-spacing: 4px;
    list-style-type: none;

}

#menu li {
    margin-bottom: 1em;

}

.active {
    background-color: #F2D9C2;
}

/*Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #FAF3EB;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #7F5740;
    display: none;
    top: 100%;

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;

}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    background-color: #F2D9C2;
    flex: 1 0 auto;
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

/* Hero section */
.hero {
    height: 600px;
    width: 100%;
    background: url("../images/raspberry-tart.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(144, 100, 88, 0.5);
    font-size: 130%;
    text-align: center;
    position: absolute;
    top: 30px;
    width: 50%;
    min-height: 100px;
    padding: 20px;
}

#cover-text>h2 {
    color: #FAF3EB;
}

.about-us {
    max-width: 100%;
    margin: 20px;
    padding: 20px;

}

.about-us>h2 {
    text-align: center;
    font-size: 40px;

}

.about-us>p {
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.contact-us {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #DB9163;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0;
    padding: 0 40px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 38px;
    transition: all 200ms ease;
    cursor: pointer;
}

.contact-us:hover {
    background-color: #624637;

}



/*Photo Gallery on Home page */

.gallery-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2D9C2;
}

.gallery-cards-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F2D9C2;
}

.gallery-cards>h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
}

.gallery-cards a {
    text-decoration: none;
    color: #624637;
}

.gallery-cards a:hover {
    text-decoration: underline;
}

.cards {
    margin: 25px;
    float: left;
    width: 250px;
    border-radius: 10px;
}

.cards>img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.desc {
    padding: 20px;
    text-align: center;
    font-size: 17px;
}


/*Gallery*/

.products-collection {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.products-collection>h2 {
    text-align: center;
    font-size: 40px;
}

.products-collection>p {
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-auto-flow: dense;
    gap: 1vh;
}

.products {
    float: left;
    width: 100%;
    border-radius: 10px;
}

.products img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 10px;
}

.description {
    padding: 15px;
    padding-right: 12px;
    text-align: center;
    font-size: 18px;

}



/*Signup form styling*/


.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.input-group {
    margin-bottom: 30px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    color: #3a3a3a;
    font-size: 15px;
    cursor: text;
}

textarea {
    resize: none;
}

.submit {
    display: block;
    background-color: #DB9163;
    color: #FAF3EB;
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 0;
    padding: 0 40px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 38px;
    transition: all 200ms ease;
    cursor: pointer;
}

.submit:hover {
    background-color: #624637;

}

a {
    text-decoration: none;
}

/* Response Page */

.response-text-container {
    margin-top: 10%;
    height: auto;
    width: auto;
    max-width: 100%;
}

.response-text {
    display: inline-block;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;

}

.response-text>h2 {
    text-align: center;
    font-size: 40px;
}

.response-text>p {
    font-size: 24px;
    text-align: center;
    margin: 2rem;
}

/* Footer */
.social-networks {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #FAF3EB;
}

.social-networks i {
    font-size: 160%;
    padding: 3rem 5rem;
    color: #624637;
    transition: all 0.3s linear;

}

.social-networks i:hover {
    transform: scale(1.2);
}


/* Media query mobile phones*/


@media screen and (min-width: 315px) {

    /* Gallery */
    .products-collection {
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;

    }

    .products-collection>h2 {
        text-align: center;
        font-size: 40px;
    }

    .products-collection>p {
        font-size: 24px;
        padding: 20px;
        text-align: center;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
        grid-auto-flow: dense;
        gap: 1vh;
        width: 100%;

    }

    .products {
        margin: 0;
        float: left;
        width: 100%;
        border-radius: 10px;
    }

    .products img {
        display: block;
        width: 250px;
        height: 200px;
        object-fit: cover;
        margin: 0 auto;
        border-radius: 10px;

    }

    .description {
        padding: 15px;
        text-align: center;
        font-size: 18px;

    }

}


/* Media query tablets and larger */

@media screen and (min-width: 580px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 3rem;
    }

    .nav-toggle-label {
        display: none;

    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin-left: 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 75px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }

    /*Gallery*/
    .products-collection {
        max-width: 100%;
        margin: 20px;
        padding: 20px;
    }

    .products-collection>h2 {
        text-align: center;
        font-size: 40px;
    }

    .products-collection>p {
        font-size: 24px;
        padding: 20px;
        text-align: center;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-auto-rows: minmax(100px, auto);

    }

    .products {
        margin: 20px;
        float: left;
        width: 100%;
        border-radius: 10px;
    }

    .products img {
        display: block;
        width: 300px;
        height: 290px;
        object-fit: cover;
        margin: 0 auto;
        border-radius: 10px;
    }

    .description {
        padding: 15px;
        padding-right: 20px;
        text-align: center;
        font-size: 18px;

    }

}

@media screen and (min-width: 1330px) {
    #menu a:hover {
        color: #DB9163;

    }

    /*Gallery*/
    .products-collection {
        max-width: 100%;
        margin: 20px;
        padding: 20px;
    }

    .products-collection>h2 {
        text-align: center;
        font-size: 40px;
    }

    .products-collection>p {
        font-size: 24px;
        padding: 20px;
        text-align: center;
    }


    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);

    }

    .products {
        margin: 20px;
        float: left;
        width: 100%;
        border-radius: 10px;
    }

    .products img {
        width: 300px;
        height: 280px;
        object-fit: cover;
        border-radius: 10px;
    }

    .description {
        padding: 15px;
        padding-right: 12px;
        text-align: center;
        font-size: 18px;

    }

    .touch {
        margin-top: 75px;
        text-align: center;
        font-size: 40px;
        margin-bottom: 30px;
    }

    .form-container {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
    }
}